<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pineapplekeyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PineappleKeyboard">
        <activity android:name=".Pok3r"></activity>
        <activity android:name=".Varmilo" />
        <activity android:name=".KBPR" />
        <activity android:name=".KBPD" />
        <activity android:name=".KBPV" />
        <activity android:name=".DuckyVarmilo" />
        <activity android:name=".DuckyOne2" />
        <activity android:name=".Magiforce68" />
        <activity android:name=".Magiforce82" />
        <activity android:name=".VortexRace3" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>